.cat {
	margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ff007f;
}

.cat#cat2 {
    color: #00bfff;
}
.company-name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ff007f;
}

.company-name .highlight {
    color: #00bfff;
}

h2#prodTit {
	text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

th#a {
    background-color: #f2f2f2;
    color: #00bfff;
    font-weight: bold;
}

th#b {
    background-color: #f2f2f2;
    color: #ff007f;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #f1f1f1;
}

#popupModifica {
	display: none; /* Nasconde la finestra per impostazione predefinita */
	position: fixed; /* Posiziona la finestra in modo fisso */
	left: 50%; /* Centra la finestra orizzontalmente */
 	top: 50%; /* Centra la finestra verticalmente */
 	transform: translate(-50%, -50%); /* Effettua una traslazione per centrare */
	border: 2px solid #444; /* Bordo della finestra */
	background-color: #fff; /* Colore di sfondo della finestra */
	padding: 20px; /* Padding interno della finestra */
	z-index: 1000; /* Posiziona la finestra sopra altri elementi */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra */
}

#overlayModifica {
	display: none; /* Nasconde lo sfondo per impostazione predefinita */
	position: fixed; /* Posiziona lo sfondo in modo fisso */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Colore e opacità dello sfondo */
	z-index: 999; /* Posiziona lo sfondo sotto la finestra pop-up ma sopra altri elementi */
}

#popupElimina {
	display: none; /* Nasconde la finestra per impostazione predefinita */
	position: fixed; /* Posiziona la finestra in modo fisso */
	left: 50%; /* Centra la finestra orizzontalmente */
 	top: 50%; /* Centra la finestra verticalmente */
 	transform: translate(-50%, -50%); /* Effettua una traslazione per centrare */
	border: 2px solid #444; /* Bordo della finestra */
	background-color: #fff; /* Colore di sfondo della finestra */
	padding: 20px; /* Padding interno della finestra */
	z-index: 1000; /* Posiziona la finestra sopra altri elementi */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra */
}

#overlayElimina {
	display: none; /* Nasconde lo sfondo per impostazione predefinita */
	position: fixed; /* Posiziona lo sfondo in modo fisso */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Colore e opacità dello sfondo */
	z-index: 999; /* Posiziona lo sfondo sotto la finestra pop-up ma sopra altri elementi */
}

#popupAggiungi {
	display: none; /* Nasconde la finestra per impostazione predefinita */
	position: fixed; /* Posiziona la finestra in modo fisso */
	left: 50%; /* Centra la finestra orizzontalmente */
 	top: 50%; /* Centra la finestra verticalmente */
 	transform: translate(-50%, -50%); /* Effettua una traslazione per centrare */
	border: 2px solid #444; /* Bordo della finestra */
	background-color: #fff; /* Colore di sfondo della finestra */
	padding: 20px; /* Padding interno della finestra */
	z-index: 1000; /* Posiziona la finestra sopra altri elementi */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra */
}

#overlayAggiungi {
	display: none; /* Nasconde lo sfondo per impostazione predefinita */
	position: fixed; /* Posiziona lo sfondo in modo fisso */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Colore e opacità dello sfondo */
	z-index: 999; /* Posiziona lo sfondo sotto la finestra pop-up ma sopra altri elementi */
}

.btnCont{
	display: flex;
	gap:15px;
}  

.adminBtn {
	background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.adminBtn:hover {
	color: white;
	text-decoration: none;
}
