		body{
			background: #0ef;
		}
		
		.contenitore-grid {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			background: white;
			margin-top: 30px;
			margin-left: 60px;
			margin-right: 60px;
			border-radius: 20px;
			border-color: black;
			border: 2px solid #2c4766;
			align-items: center;
			}
		
		.item-grid {
			padding: 20px;
		}
		
		.item-grid[data-name="immagine"] {
			text-align: center;
		}
		
		.item-grid[data-name="quantita"] {
			text-align: center;
		}
		
		.img {
			width: 120px;
			height: 150px;
			border-radius: 5px;
			align-self: center;
		}
		
		h1 {
			font-size: 25px;
			color: #2c4766;
		}
		
		h2 {
			font-size: 25px;
			color: #2c4766;
		}
		
		.set-quantita {
			width: 30px;
			height: 25px;
			text-align: center;
		}
		
		.set-prezzo {
			width: 100px;
			height: 55px;
			text-align: center;
		}
		
		.divider {
			margin-top: 30px;
			margin-right: 50px;
			margin-left: 50px;
			border-top: 8px solid #bbb;
			border-radius: 5px;
		}

		h2#prodTit {
			text-align: center;
		}
		
		#popupOrdine {
			display: none; /* Nasconde la finestra per impostazione predefinita */
			position: fixed; /* Posiziona la finestra in modo fisso */
			left: 50%; /* Centra la finestra orizzontalmente */
		 	top: 50%; /* Centra la finestra verticalmente */
		 	transform: translate(-50%, -50%); /* Effettua una traslazione per centrare */
			border: 2px solid #444; /* Bordo della finestra */
			background-color: #fff; /* Colore di sfondo della finestra */
			padding: 20px; /* Padding interno della finestra */
			z-index: 1000; /* Posiziona la finestra sopra altri elementi */
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra */
		}
		
		#overlayOrdine {
			display: none; /* Nasconde lo sfondo per impostazione predefinita */
			position: fixed; /* Posiziona lo sfondo in modo fisso */
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5); /* Colore e opacità dello sfondo */
			z-index: 999; /* Posiziona lo sfondo sotto la finestra pop-up ma sopra altri elementi */
		}