body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2#prodTit {
	text-align: center;
}

.profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-header h1 {
    margin: 0;
}

.profile-content {
    display: flex;
    flex-wrap: wrap;
}

.profile-image {
    flex: 1 200px;
    text-align: center;
}

.profile-pic {
    max-width: 150px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.profile-details {
    flex: 1 400px;
    padding-left: 20px;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.detail-item h2 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.detail-item p {
    margin: 0;
    font-size: 1em;
    color: #555;
}

#single{
	flex-grow: 1;
	text-align: center;
}

.modify-btn {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.modify-btn:hover {
    background-color: #0056b3;
}

.no-profile {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.no-profile h2 {
    margin: 0;
    color: #333;
}

#popupCronologia {
	display: none; /* Nasconde la finestra per impostazione predefinita */
	position: fixed; /* Posiziona la finestra in modo fisso */
	left: 50%; /* Centra la finestra orizzontalmente */
 	top: 50%; /* Centra la finestra verticalmente */
 	transform: translate(-50%, -50%); /* Effettua una traslazione per centrare */
	border: 2px solid #444; /* Bordo della finestra */
	background-color: #fff; /* Colore di sfondo della finestra */
	padding: 20px; /* Padding interno della finestra */
	z-index: 1000; /* Posiziona la finestra sopra altri elementi */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra */
}

#overlayCronologia {
	display: none; /* Nasconde lo sfondo per impostazione predefinita */
	position: fixed; /* Posiziona lo sfondo in modo fisso */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Colore e opacità dello sfondo */
	z-index: 999; /* Posiziona lo sfondo sotto la finestra pop-up ma sopra altri elementi */
}

.adminBtn {
	background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background-color 0.3s;
}
