<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>RogueGame</display-name>
  
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>

  <resource-ref>
  <description>Riferimwnto alla JNDI</description>
  <res-ref-name>jdbc/gamerogue</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
   <res-auth>Container</res-auth>
  </resource-ref>

	<servlet>
    	<servlet-name>prodottiServlet</servlet-name>
    	<servlet-class>control.prodottiServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
   		<servlet-name>prodottiServlet</servlet-name>
   		<url-pattern>/prodottiServlet</url-pattern>
 	 </servlet-mapping>
  
  	<servlet>
  		<servlet-name>loginServlet</servlet-name>
   		<servlet-class>control.loginServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
   		<servlet-name>loginServlet</servlet-name>
  		<url-pattern>/loginServlet</url-pattern>
  	</servlet-mapping>
  
  	<servlet>
    	<servlet-name>signinServlet</servlet-name>
    	<servlet-class>control.signinServlet</servlet-class>
 	</servlet>
  
  	<servlet-mapping>
    	<servlet-name>signinServlet</servlet-name>
    	<url-pattern>/signinServlet</url-pattern>
  	</servlet-mapping>
  
    <servlet>
   		<servlet-name>carrelloServlet</servlet-name>
    	<servlet-class>control.carrelloServlet</servlet-class>
 	 </servlet>
  
  	<servlet-mapping>
    	<servlet-name>carrelloServlet</servlet-name>
    	<url-pattern>/carrelloServlet</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>dettagliServlet</servlet-name>
    	<servlet-class>control.dettagliServlet</servlet-class>
  	</servlet>
  
 	<servlet-mapping>
   		<servlet-name>dettagliServlet</servlet-name>
   		<url-pattern>/dettagliServlet</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>genreServlet</servlet-name>
    	<servlet-class>control.genreServlet</servlet-class>
   		<load-on-startup>1</load-on-startup>
  	</servlet>
  
  	<servlet-mapping>
    	<servlet-name>genreServlet</servlet-name>
    	<url-pattern>/genreServlet</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>logoutServlet</servlet-name>
    	<servlet-class>control.logoutServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
    	<servlet-name>logoutServlet</servlet-name>
    	<url-pattern>/logoutServlet</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>piattaformaServlet</servlet-name>
    	<servlet-class>control.piattaformaServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
    	<servlet-name>piattaformaServlet</servlet-name>
    	<url-pattern>/Piattaforma</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>adminServlet</servlet-name>
    	<servlet-class>control.adminServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
    	<servlet-name>adminServlet</servlet-name>
    	<url-pattern>/adminServlet</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>adminOperationServlet</servlet-name>
    	<servlet-class>control.adminOperationServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
    	<servlet-name>adminOperationServlet</servlet-name>
    	<url-pattern>/adminOperationServlet</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>adminOrdiniServlet</servlet-name>
    	<servlet-class>control.adminOrdiniServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
    	<servlet-name>adminOrdiniServlet</servlet-name>
    	<url-pattern>/adminOrdiniServlet</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>AJXCreditservlet</servlet-name>
    	<servlet-class>control.AJXCreditservlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
    	<servlet-name>AJXCreditservlet</servlet-name>
    	<url-pattern>/AJXCreditservlet</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>modificaProfiloServlet</servlet-name>
    	<servlet-class>control.modificaProfiloServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
    	<servlet-name>modificaProfiloServlet</servlet-name>
    	<url-pattern>/modificaProfiloServlet</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>OrdineServlet</servlet-name>
    	<servlet-class>control.OrdineServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
    	<servlet-name>OrdineServlet</servlet-name>
    	<url-pattern>/Ordine</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
        <servlet-name>creditCardServlet</servlet-name>
        <servlet-class>control.creditCardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>creditCardServlet</servlet-name>
        <url-pattern>/creditCardServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>indirizzoSpedizioneServlet</servlet-name>
        <servlet-class>control.indirizzoSpedizioneServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>indirizzoSpedizioneServlet</servlet-name>
        <url-pattern>/indirizzoSpedizioneServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>indirizzoSpedizioneProfiloServlet</servlet-name>
        <servlet-class>control.indirizzoSpedizioneProfiloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>indirizzoSpedizioneProfiloServlet</servlet-name>
        <url-pattern>/indirizzoSpedizioneProfiloServlet</url-pattern>
    </servlet-mapping>
   
    <servlet>
    	<servlet-name>profiloServlet</servlet-name>
    	<servlet-class>control.profiloServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
    	<servlet-name>profiloServlet</servlet-name>
    	<url-pattern>/profiloServlet</url-pattern>
  	</servlet-mapping>
	
	<servlet>
        <servlet-name>AJXAddressServlet</servlet-name>
        <servlet-class>control.AJXAddressServlet</servlet-class>
    </servlet>
	
    <servlet-mapping>
        <servlet-name>AJXAddressServlet</servlet-name>
        <url-pattern>/AJXAddressServlet</url-pattern>
    </servlet-mapping>
  	
  	<servlet>
    	<servlet-name>ordineProdServlet</servlet-name>
    	<servlet-class>control.ordineProdServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
    	<servlet-name>ordineProdServlet</servlet-name>
    	<url-pattern>/ordineProdServlet</url-pattern>
     </servlet-mapping>	
    	
       <servlet>
    	<servlet-name>preferitiServlet</servlet-name>
    	<servlet-class>control.preferitiServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
    	<servlet-name>preferitiServlet</servlet-name>
    	<url-pattern>/preferitiServlet</url-pattern>
  	</servlet-mapping> 	
    
    <error-page>
    	<error-code>404</error-code>
    	<location>/ErrorePage.jsp</location>
    </error-page>
    
    <error-page>
    	<error-code>500</error-code>
    	<location>/ErrorePage.jsp</location>
    </error-page>
    
    <error-page>
    	<error-code>405</error-code>
    	<location>/ErrorePage.jsp</location>
    </error-page>
    
    <error-page>
    	<error-code>400</error-code>
    	<location>/ErrorePage.jsp</location>
    </error-page>
    
</web-app>